html
    meta(charset='utf-8')
    head
    body
// var items = #{items}
table(border="1")
 tr
      th
      th WIN
      th LOSE
 - each item, ke in items
    tr
     th #{ke}
     - each val, key in item
        case key
            when 'win'
              th  #{val}
            when 'lose'
              th  #{val}
            default
              th #{key} : #{val}
