html
    meta(charset='utf-8')
    head
    body
// var items = #{items}
- each item, i in items
    - each val, key in item
        case key
            when 'win'
              th 【胜】#{val}
            when 'lose'
              th &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  VS     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   #{val}【负】     &nbsp&nbsp&nbsp
            when 'time'
                th  日期 :#{val}

            when 'txt'
                script
                    function hid#{i}(){
                         if (document.getElementById("t#{i}").hidden == true){
                           document.getElementById("t#{i}").hidden =false; }
                         else{document.getElementById("t#{i}").hidden = true}  }
                button(type="button",onclick="hid#{i}()") 内容
                p
                textarea(rows="20",cols="50",hidden="tr",id="t"+i)   #{val}
                p
            when '_id'
                if i==19
                    form(action="show2")
                       input(type="text",name="id",value=val,hidden="hidden")

                        button(type="button",onclick="history.back()") 上一页
                        button(type="submit") 下一页

                else

            default
              th #{key} : #{val}
