html
    meta(charset='utf-8')
    head
    body
// var items = #{items}
- each item, i in items
    - each val, key in item
        case key
            when 'win'
                th 【胜】#{val}
            when 'lose'
                th &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  VS     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   #{val}【负】    &nbsp&nbsp&nbsp
            when 'time'
                th  日期 :#{val}
                p
            when 'txt'
                textarea(rows="20",cols="50")   #{val}

            when '_id'
                form(action="del")
                    input(type="text",name="id",value=val,hidden="hidden")
                    button(type="submit") del

                if i==19
                    form(action="ygopropw2")
                        input(type="text",name="id",value=val,hidden="hidden")
                        p
                        button(type="button",onclick="history.back()") 上一页
                        button(type="submit") 下一页
                    p
            default
                th #{key} : #{val}
